# Base Sepolia RPC provider URL (Alchemy, Infura, or public RPC)
BASE_SEPOLIA_RPC_URL=https://rpc.sepolia.base.org

# Private key for deployment account
PRIVATE_KEY=

# Frontend contract address after deployment
NEXT_PUBLIC_REWARD_TOKEN_ADDRESS=0xC0e6dB59BFdEfC25eb02c9735fdFd122E148832D
